@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Grape+Nuts&family=Montserrat:wght@300&family=Poppins:wght@100;600&family=Source+Sans+Pro:wght@600&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Bree Serif', serif;
    font-family: 'Poppins', sans-serif;
    background-color: #131722;
    font-weight: 200;
    color: white;
}